<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Visualization Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='visualize.css')}}">
</head>
<body>

<div class="container">

  <h1>Data Visualizations</h1>
  
  <div class="visualization-section">
    <button class="toggleButton">Diversity Plot</button>
    <div class="plot" id="diversityPlot">
      <!-- Diversity plot will be inserted here -->
    </div>
  </div>

  <div class="visualization-section">
    <button class="toggleButton">Histogram</button>
    <div class="plot" id="histogram">
      <!-- Histogram will be inserted here -->
    </div>
  </div>

  <div class="visualization-section">
    <button class="toggleButton">Box Plot</button>
    <div class="plot" id="boxPlot">
      <!-- Box plot will be inserted here -->
    </div>
  </div>

  <div class="visualization-section">
    <button class="toggleButton">Density Plot</button>
    <div class="plot" id="densityPlot">
      <!-- Density plot will be inserted here -->
    </div>
  </div>

  <div class="visualization-section">
    <button class="toggleButton">Pair Plot</button>
    <div class="plot" id="pairPlot">
      <!-- Pair plot will be inserted here -->
    </div>
  </div>

</div>

<script src="script.js"></script>
</body>
</html>
